.ownMessageItemComponent {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.ownMessageItemComponent__position{
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 10px;
}