.dialogItem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  //background-color: #d7d7d7;
  border-bottom: 2px solid gray;
  //padding-bottom: 20px;
  //padding-top: 20px;
  padding: 20px 10px;
  img {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    //float: left;
  }
}